/* ============================================================ *\

  #MAIN

  Site:        Static Site
  Author:      Andrew Brandwood
  packageName: static-site-build

/* ============================================================ *\


/**
* CONTENTS
* 
* _SETTINGS
* Variables for colors
* Global variables
* Layout these are 'em' widths based on default font size of 16px;
* 
* _TOOLS
* Common Sass mixins
* Common Sass functions
* Font declarations and settings
* 
* _GENERIC
* Box-sizing
* Normalize - sets all elements to a common state regardless of browser.
* Reset - resets all margin and padding to 0
* 
* _ELEMENTS
* links - styles for links
* 
* _OBJECTS
* Layout - styles for all layout and or grid system
* Styleguide layout and filler styles.
* 
* SITE-FOOTER
*  footer styles
* 
* SITE-HEADER
* Header - styles for header includes local variables for all header elements
*
*/




@import "_settings/_settings.colors.scss";
@import "_settings/_settings.global.scss";
@import "_settings/_settings.layout.scss";
@import "_tools/_tools.mixins.scss";
@import "_tools/_tools.functions.scss";
@import "_tools/_tools.typography.scss";
@import "_generic/_generic.box-sizing.scss";
@import "_generic/_generic.normalize.scss";
@import "_generic/_generic.reset.scss";
@import "_elements/_elements.links.scss";
@import "_objects/_objects.layout.scss";
@import "_objects/_objects.styleguide.scss";
@import "../../views/_partials/site-footer/site-footer.scss";
@import "../../views/_partials/site-header/site-header.scss";