<!DOCTYPE html>
<html>
	<head>
		<title>Static website generator</title>
		<meta charset="utf-8">
		<meta http-equiv="content-language" content="en" />
		<script type="text/javascript" src="_client/scripts/critical-bundle.js"></script>
		
	  	<link rel="icon" href="_client/images/global/favicon.ico" type="image/x-icon">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">

	  	<!--[if IE 8]>
	  		<link rel="stylesheet" href="/_client/styles/ie8.css" />
	  		<script async type="text/javascript" src="/_client/scripts/ie.js"></script>
	  	<![endif]-->

	  	<!--[if IE 9]>
	  		<link rel="stylesheet" href="/_client/styles/main.css" type="text/css" />
	  	<![endif]-->
	  	
	  	<!--[if  !IE]><!-->
	  		<link rel="stylesheet" href="/_client/styles/main.css" type="text/css" />
	  	<!--<![endif]-->

	</head>
	<body>
		{{> site-header/site-header }}